.login-header-wrapper{
  text-align: center;
  margin-bottom: 40px;
}
.navigation-link{
  text-align: center;
  margin-top:30px;
}
 
.login {
  border: 1px solid rgba(1, 111, 236, 0.61);
  border-radius: 8px;
  padding: 5px;
}

.sign {
  text-align: center;
  color: coral;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}