<mat-card class="home-card my-3">
  <ng-container *ngIf="currentUser$ | async as currentUser">
    <mat-card-header *ngIf="currentUser">
      <div mat-card-avatar class="home-header-image"></div>
      <mat-card-title>{{ currentUser?.fullName }}</mat-card-title>
      <mat-card-subtitle>{{ userRoles[currentUser.role] }}</mat-card-subtitle>
    </mat-card-header>
  </ng-container>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a  href="#" class="btn btn-primary active" aria-current="page"><i class="material-icons">
            dashboard</i>Dashboard</a>
           </div>
           <div  class="col-md-4">
            </div>
             <div class="col-md-4">
             
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
